@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap");
body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, button, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  list-style: none;
  text-decoration: none;
}

/*===================================
# colors
===================================*/
/*===================================
# 共通
===================================*/
body {
  font-size: 18px;
  color: #333;
  font-family: "ヒラギノ明朝 ProN", serif !important;
  line-height: 1.6875;
  list-style: none;
  font-weight: bold;
}

img {
  width: 100%;
}

section {
  margin-bottom: 100px;
}

.inner {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 40px;
  box-sizing: content-box;
}
@media screen and (max-width: 767px) {
  .inner {
    padding: 0;
  }
}

.wrap {
  padding: 90px 0;
}
@media screen and (max-width: 767px) {
  .wrap {
    padding: 50px 0;
  }
}

.main-title {
  font-size: 80px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .main-title {
    font-size: 40px;
  }
}

/*===================================
# padding
===================================*/
.pt100 {
  padding-top: 100px;
}

.pd100 {
  padding-bottom: 100px;
}

/*===================================
# メディアクエリ
===================================*/
.is-pc {
  display: block;
}
@media screen and (max-width: 767px) {
  .is-pc {
    display: none;
  }
}

.is-sp {
  display: block;
}
@media screen and (min-width: 768px) {
  .is-sp {
    display: none;
  }
}

/*===================================
# header
===================================*/
.header {
  background-color: #38B6FF;
  height: 100vh;
}

/*===================================
# about
===================================*/
.about-wrap {
  display: flex;
  height: 50vh;
  justify-content: space-between;
}

.about-title {
  font-size: 40px;
  color: #0D2B72;
  font-weight: bold;
}

.about-text {
  width: 48%;
  margin: auto 0;
}

.about-img {
  width: 48%;
}

.pic {
  height: 50vh;
}

/*===================================
# lead
===================================*/
.lead {
  background-color: #38B6FF;
  padding: 20px;
}

.lead-title {
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 30px;
}
.lead-title span.small {
  font-size: 18px;
}

.lead-wrap {
  background-color: #fff;
  text-align: center;
}

.tel-phone {
  font-size: 80px;
  color: #EBE304;
}

.link-items {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-bottom: 40px;
  width: 860px;
}

.link-item {
  width: 48%;
}

.mail-box {
  background-color: #d22525;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 3px #000;
  border: 2px solid #000;
}
.mail-box .btn-inner {
  color: #fff;
  font-weight: bold;
  font-size: 30px;
}

.line-box {
  background-color: #2EAA25;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 3px #000;
  border: 2px solid #000;
}
.line-box .btn-inner {
  font-weight: bold;
  color: #fff;
  font-size: 30px;
}

/*===================================
# alert
===================================*/
.alert {
  background-color: #E4E6EB;
}

.alert-title {
  color: #0D2B72;
  font-size: 30px;
  text-align: center;
}
.alert-title .alert_red {
  color: red;
  font-size: 40px;
}

.alert-items {
  background-color: #fff;
}

.alert-item {
  display: flex;
  justify-content: space-between;
}
.alert-item:nth-child(2n) {
  flex-direction: row-reverse;
}

.alert_detailarea {
  padding: 2.5rem;
  display: flex;
}
.alert_detailarea:nth-child(2n) {
  flex-direction: row-reverse;
}
.alert_detailarea__title {
  position: relative;
  font-size: 2rem;
  font-weight: 900;
  display: flex;
  align-items: center;
  padding-left: 30px;
  margin-bottom: 0.4rem;
}
.alert_detailarea__title::before {
  content: "";
  background: url(../img/LINE_ALBUM_20230111_230111_2.jpg) no-repeat 50%;
  background-size: 100% 100%;
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -10px;
}
.alert_detailarea__title_l {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}
.alert_detailarea__title_l .name {
  display: block;
  margin-right: auto;
}
.alert_detailarea__title_l small {
  font-size: 20px;
}
.alert_detailarea__comment {
  text-align: left;
  letter-spacing: 1px;
}
.alert_detailarea__image {
  margin-left: 1rem;
}

/*===================================
# alert02
===================================*/
.alert02_text {
  text-align: center;
  color: #707070;
  font-size: 20px;
  margin: 30px 0;
}

.alert02_items {
  display: flex;
  justify-content: space-between;
}

.alert02_item {
  width: 30%;
}
.alert02_item__title {
  color: #fff;
}
.alert02_item__title .t_yellow {
  display: block;
  color: #EBE304;
}

.alert02_head {
  background-color: #0D2B72;
  text-align: center;
  margin-bottom: 20px;
}

.alert02_subtitle {
  text-align: center;
  font-size: 50px;
  color: #38B6FF;
}
.alert02_subtitle span {
  color: #0D2B72;
}